<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>QueueMonitor</display-name>
	<servlet>
		<description>StartQueueManagerServlet</description>
		<servlet-name>StartQueueManagerServlet</servlet-name>
		<servlet-class>com.gwssi.queue.servlet.StartQueueManagerServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<description></description>
		<display-name>QueueMonitorServlet</display-name>
		<servlet-name>QueueMonitorServlet</servlet-name>
		<servlet-class>com.gwssi.monitor.servlet.QueueMonitorServlet</servlet-class>
		<load-on-startup>2</load-on-startup>
	</servlet>
	<servlet>
		<description></description>
		<display-name>TestServlet</display-name>
		<servlet-name>TestServlet</servlet-name>
		<servlet-class>com.gwssi.test.TestServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TestServlet</servlet-name>
		<url-pattern>/test</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>QueueManagerServlet</display-name>
		<servlet-name>QueueManagerServlet</servlet-name>
		<servlet-class>com.gwssi.monitor.servlet.QueueManagerServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>QueueManagerServlet</servlet-name>
		<url-pattern>/manager</url-pattern>
	</servlet-mapping>
</web-app>